/** ESTO ES UN COMENTARIO DENTRO DE UN ARCHIVO CSS

*/

body {background-color: lightblue;} /** para aplicar color al fondo */

h1{
    padding: 5px;
    border: 1px solid black;
    margin: 30px;

    font-weight: bold;
    
    color: green;
}

p {
    padding: 5px;
    border: 1px solid black;
    margin: 30px;

    font-weight: bold;
    
    color: red;
    width:300px;
}


section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }